* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
}

header #logo {
    width: 50px;
    height: 50px;
}

body>header {
    display: flex;
    background: black;
    padding: 15px 0;
}

.wrapper {
    min-width: 1000px;
    margin: 0 auto;
}

header .wrapper {
    display: flex;
    align-items: center;
}

#navbar {
    display: flex;
    margin-left: auto;
    gap: 25px;
}

#navbar a {
    color: white;
    font-size: 18px;
}

body {
    background: #202020;
}

#home {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background: url('Hogwarts.webp') no-repeat;
    height: calc(100vh - 150px);
    background-position: 50% 40%;
}

#home img {
    width: 400px;
}

#home .content {
    display: flex;
    margin: 20px auto;
    gap: 30px;
    max-width: 1200px;
}

#personagens {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 500px;
}

#personagens h2 {
    padding: 20px;
}

#feiticos {
    color: white;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 500px;
}

#feiticos h2 {
    padding: 20px;
}

.controls {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 0 20px 20px 20px;
    border-bottom: 1px solid white;
}

.controls button {
    padding: 5px 10px;
    /* background: rgb(194, 73, 97); */
    background: white;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    transform: scale(1);
    transition: .3s;
}
.controls input[type="text"]{
    padding: 5px;
    border: none;
    border-radius: 15px;
}

.controls button:hover{
    transform: scale(1.03);
    transition: .3s;
}

#charCards {
    margin: 40px 0 20px 0;
    display: flex;
    gap: 20px;
    max-width: 904px;
    flex-wrap: wrap;
}


.card {
    border: 1px solid black;
    background: #313131;
    transition: .3s;
    transform: scale(1);
    cursor: pointer;
    max-width: 160px;
}

.card:hover {
    transform: scale(1.05);
    transition: .3s;
}

.info {
    padding: 10px;
}

#spellCards {
    margin: 40px 0 20px 0;
    display: flex;
    gap: 20px;
    max-width: 904px;
    flex-wrap: wrap;
}